<div  class="ion-no-margin grid md:grid-cols-2 grid-cols-1 md:gap-5 gap-1">
  <ion-card>
    <ion-card-content>
          <p class="text-20">

            Pedidos atendidos <ion-text color="success"><p class="text-30">21</p></ion-text>
          </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
          <p class="text-20">

            Pedidos pendientes <ion-text color="success"><p class="text-30">10</p></ion-text>
          </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
          <p class="text-20">

            Clientes registrados <ion-text color="success"><p class="text-30">32</p></ion-text>
          </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
          <p class="text-20">

            Proveedores registrados <ion-text color="success"><p class="text-30">7</p></ion-text>
          </p>
    </ion-card-content>
  </ion-card>
</div>



