<app-header [titulo]="titulo" [menu]="false"></app-header>

<ion-content>
  <form (ngSubmit)="itemGuardarEditar()" [formGroup]="registroForm">
    <ion-list lines="full" class="ion-no-margin grid md:grid-cols-2 grid-cols-1 md:gap-5 gap-1">
      <ion-item>
        <ion-label position="floating">Proveedor</ion-label>
        <ion-select formControlName="id_proveedor" ok-text="Aceptar" cancel-text="Cancelar" interface="action-sheet">
          <ion-select-option *ngFor="let prov of proveedores" [value]="prov.id_proveedor">{{ prov.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Categoría</ion-label>
        <ion-select formControlName="id_categoria" ok-text="Aceptar" cancel-text="Cancelar" interface="action-sheet">
          <ion-select-option *ngFor="let cat of categorias" [value]="cat.id_categoria">{{ cat.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input placeholder="Nombre" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Unidad de medida</ion-label>
        <ion-select formControlName="id_unidad_medida" ok-text="Aceptar" cancel-text="Cancelar" interface="action-sheet">
          <ion-select-option *ngFor="let um of umedidas" [value]="um.id_unidad_medida">{{ um.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Código</ion-label>
        <ion-input appOnlyNumero placeholder="Código" formControlName="codigo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Costo</ion-label>
        <ion-input appOnlyNumero placeholder="Costo" formControlName="costo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Costo de venta</ion-label>
        <ion-input appOnlyNumero placeholder="Costo de venta" formControlName="costo_venta"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input appOnlyNumero placeholder="Stock" formControlName="stock"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock minimo</ion-label>
        <ion-input appOnlyNumero placeholder="Stock minimo" formControlName="stock_minimo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Activo</ion-label>
        <ion-checkbox color="primary" name="estatus" formControlName="estatus" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea rows="4" cols="10" formControlName="descripcion"  placeholder="Escriba una descripción"></ion-textarea>
      </ion-item>

    </ion-list>
    <section class="ion-text-center">
      <ion-button type="submit" [disabled]="registroForm.invalid" expand="block" color="success">{{ (nuevo) ? 'Guardar' : 'Modificar' }}</ion-button>
    </section>
  </form>
</ion-content>
