<ion-item-sliding *ngFor="let prov of proveedores; let i = index;">
  <ion-item>
    <ion-label>
      <h2>{{ prov.nombre }}</h2>
      <p><strong>Teléfono: </strong> {{ prov.telefono }}</p>
      <ion-badge color="primary">Activo</ion-badge>
    </ion-label>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="openSheetModal(prov)">
      <ion-icon slot="icon-only" name="pencil"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="itemEliminar(prov, i)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
